@use "./sass/breakpoints" as *;

:root {
  --color-marine-blue: hsl(213, 96%, 18%);
  --color-purple-blue: hsl(243, 100%, 62%);
  --color-pastel-blue: hsl(228, 100%, 84%);
  --color-light-blue: hsl(206, 94%, 87%);
  --color-red: hsl(354, 84%, 57%);
  --color-cool-gray: hsl(231, 11%, 63%);
  --color-light-gray: hsl(229, 24%, 87%);
  --color-magnolia: hsl(217, 100%, 97%);
  --color-alabaster: hsl(231, 100%, 99%);
  --color-white: hsl(0, 0%, 100%);

  --fs-1: 0.75rem;
  --fs-2: 0.86rem;
  --fs-3: 1rem;
  --fs-4: 2rem;

  --fw-1: 400;
  --fw-2: 500;
  --fw-3: 700;

  --line-height-p: 1.5625rem;

  @media (max-width: $bp-3) {
    --fs-3: 0.9rem;
  }

  @media (max-width: $bp-5) {
    --fs-4: 1.5rem;
    --line-height-p: 1.3rem;
  }

  @media (max-width: $bp-6) {
    --fs-2: 0.75rem;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--color-magnolia);
  display: grid;
}

input,
button {
  font: inherit;
}

.container {
  margin: 0 auto;
  background-color: var(--color-white);
  min-height: 37rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 59rem;
  padding: 1rem;
  padding-right: 6.5rem;
  margin-top: 6.5rem;
  display: flex;
  gap: 6rem;
  margin-bottom: 5rem;

  @media (max-width: $bp-1) {
    gap: 3rem;
    padding-right: 3.5rem;
  }

  @media (max-width: $bp-2) {
    min-height: 43.5rem;
  }

  @media (max-width: $bp-3) {
    gap: 1.5rem;
    padding-right: 1.5rem;
    width: 95%;
  }

  @media (max-width: $bp-5) {
    width: 90%;
    padding: 0rem 2rem;
    min-height: unset;
    padding-bottom: 2.5rem;
  }

  @media (max-width: $bp-6) {
    margin-top: 5rem;
    padding-inline: 1.5rem;
  }
}

form {
  flex: 1;
}

.section {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;

  &__heading {
    color: var(--color-marine-blue);
    margin-bottom: 0.75rem;
    font-size: var(--fs-4);
  }

  &__description {
    font-size: var(--fs-3);
    color: var(--color-cool-gray);
    line-height: var(--line-height-p);
  }

  &__foot {
    margin-top: auto;
    display: flex;
    width: 100%;

    @media (max-width: $bp-5) {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: var(--color-white);
      padding: 0.5rem 1rem;
    }
  }

  &__back {
    background-color: transparent;
    font-size: var(--fs-3);
    font-weight: var(--fw-2);
    color: var(--color-cool-gray);
    border: none;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      color: var(--color-marine-blue);
    }
  }

  &__next,
  &__confirm {
    color: var(--color-white);
    background-color: var(--color-marine-blue);
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: var(--fw-3);
    font-size: var(--fs-3);
    margin-left: auto;
    transition: all 0.2s;

    &:hover {
      background-color: var(--color-purple-blue);
      cursor: pointer;
    }
  }

  &__confirm {
    background-color: var(--color-purple-blue);

    &:hover {
      opacity: 0.75;
    }
  }
}
